html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#heading {
    font-size: 60px;
    color: whitesmoke;
    overflow-x: hidden; 

}

#desc {
    font-size: 30px;
}

#logo {
    width: 10%;
    height: auto;
    float: right;
}

body {
    background-color: rgb(199, 199, 199);
    padding-top: 200px;
}

#unity {
    font-size: 30px;
    border: 3px solid black;
    border-bottom: 1.5px solid black;
    background-color: aqua;
}

#python {
    font-size: 30px;
    border: 3px solid black;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    background-color: blue;
}

#html {
    font-size: 30px;
    border: 3px solid black;
    border-top: 1.5px solid black;
    background-color: rgb(255, 181, 42);
}

.logos {
    width: 100px;
    height: auto;
}

.heading {
    background-color: black;
    margin: 0;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}

#content {
    padding: 20px;
    margin: 0;
    padding-left: 210px;
}

#sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 20px;
}

#sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 2s;
}

#sidebar a:hover {
    color: #f1f1f1;
}

#projectsub {
    display: none;
    padding-left: 20px;
}

#sidebarToggle {
    border: 0;
    cursor: pointer;
    background-color: inherit;
}

#menu {
    height: 50px;
}

#making {
    display: none;
}